@{
  Layout = "Shared/_Layout.cshtml";
}
<div class="container">
  <h1>Airline Planner</h1>
  <hr />
  <h4><a href="/airlines">View all airlines</a></h4>
  <h4><a href="/flights">View all flights</a></h4>
</div>
